p.MsoNormal, li.MsoNormal, div.MsoNormal{
	margin:0cm;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;
}
p.MsoCaption, li.MsoCaption, div.MsoCaption{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:10.0pt;
	margin-left:0cm;
	font-size:9.0pt;
	font-family:"Calibri",sans-serif;
	color:#44546A;
	font-style:italic;
}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst, p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph, p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle, p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;
}
p.Standard, li.Standard, div.Standard{
	margin:0cm;
	background:white;
	font-size:12.0pt;
	font-family:"Calibri",sans-serif;
	color:black;
}